[Unit]
Description=Fetch Vouch Server configuration from Parameter Store
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vouch-fetch-config.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
